<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Erorr</title>
    <link rel="icon" href="/img/weather-icon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>404<br>{{errorType}}</h1>
    </div>

    {{>footer}}
</body>
</html>